<swiper *ngIf="files$ | async as files" [config]="config">
  <div class="swiper-wrapper">
    <ng-container *ngFor="let file of files">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img
            [src]="file.path"
            width="100%"
            [alt]="file.id"
            class="swiper-lazy swiper-zoom-target"
          />

        </div>
        <button
        mat-mini-fab
        color="primary"
        class="absolute right-1 md:right-9 top-1 md:top-3"
        (click)="letsgo(file.path)"
      >
        <mat-icon>download</mat-icon>
      </button>
      </div>
    </ng-container>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div [ngClass]="autoplay ? '' : 'swiper-button-next'" class=""></div>
  <div [ngClass]="autoplay ? '' : 'swiper-button-prev'" class=""></div>
</swiper>
