<mat-card *ngIf="card" class="mt-2 h-full">
  <mat-card-header *ngIf="card.title">
    <mat-card-title class="text-2xl">{{ card.title }}</mat-card-title>
  </mat-card-header>
  <img *ngIf="card.imageUrl" mat-card-image [src]="card.imageUrl" alt="Photo of a Shiba Inu">
  <!--img src="../../../../../assets/svg/logo.svg"-->
  <mat-card-content *ngIf="card.markdown; else fallback">
    <p>
      <markdown
        class="prose dark:prose-invert"
        [src]="'/assets/markdown/' + card.markdown + '.md'"
      ></markdown>
    </p>
    <app-maps *ngIf="card.map"></app-maps>
  </mat-card-content>
  <mat-card-content>
    <ng-template #fallback>
    </ng-template>
  </mat-card-content>
</mat-card>
