<mat-card *ngIf="card" class="mt-2 h-full" class="bg-vert-59 text-terre-ombre-brule">
  <mat-card-header *ngIf="card.title">
    <mat-card-title class="text-2xl">{{ card.title }}</mat-card-title>
  </mat-card-header>
  <img *ngIf="card.imageUrl" mat-card-image [src]="card.imageUrl" alt="Image" class="grayscale">
  <!--img src="../../../../../assets/svg/logo.svg"-->
  <mat-card-content class="text-terre-ombre-brule">
    <p *ngIf="card.markdown">
      <markdown
        class="prose dark:prose-invert"
        [src]="'/assets/markdown/' + card.markdown + '.md'"
      ></markdown>
    </p>
    <app-maps *ngIf="card.map"></app-maps>
    <app-index *ngIf="card.index"></app-index>
    <app-impressions
      *ngIf="card.impressions"
      [card]="card"
    ></app-impressions>
  </mat-card-content>
</mat-card>
