<div *ngIf="!content">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="content">
  <mat-card>
    <mat-card-header *ngIf="content.title">
      <mat-card-title class="text-4xl">{{ content?.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="content.markdown; else fallback">
      <p>
        <markdown
          class="prose dark:prose-invert"
          [src]="'/assets/markdown/' + content.markdown + '.md'"
        ></markdown>
      </p>
    </mat-card-content>
    <mat-card-content>
      <ng-template #fallback>
      </ng-template>
    </mat-card-content>
  </mat-card>
  <app-impressions *ngIf="content.impressions" [impressions]="content.impressions"></app-impressions>
  <img src="assets/images/2021-1_1410543d-1fa7-4467-a546-b674dd7479c1.jpg" width="100%" height="auto" />
</div>
