<mat-tab-group *ngIf="card && card.impressions" mat-align-tabs="start">
  <mat-tab
    *ngFor="let impression of card.impressions"
    [label]="impression.year.toString()"
  >
    <ng-template matTabContent>
      <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel *ngFor="let week of impression.weeks" class="mb-4" >
            <mat-expansion-panel-header>
              Woche {{week.number}}
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <div class="flex flex-row items-baseline flex-wrap">
                <p class="pr-4">Zeitraum</p>
                <app-readonly-datepicker [week]="week"></app-readonly-datepicker>
              </div>
              <app-swiper [year] = impression.year [week] = week.number></app-swiper>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
    </ng-template
  ></mat-tab>
</mat-tab-group>


