<mat-tab-group *ngIf="card && card.impressions" mat-align-tabs="start">
  <mat-tab
    *ngFor="let impression of card.impressions"
    [label]="impression.year.toString()"
  >
    <ng-template matTabContent>
      <mat-chip-list *ngIf="impression.files" class="p-1">
        <mat-chip *ngFor="let file of impression.files" class="bg-rouge-rubia">
          <a [href]="'assets/files/' + file.name" target="_blank">
            <mat-icon class="text-lg mb-1">file_download</mat-icon>
          </a>
          <a [href]="'assets/files/' + file.name" target="_blank">
            {{ file.displayName }}
          </a>
        </mat-chip>
      </mat-chip-list>
      <mat-accordion multi>
          <mat-expansion-panel *ngFor="let week of impression.weeks" class="mb-4" >
            <mat-expansion-panel-header>
              <span class="text-rouge-rubia text-neutral-400">Woche {{week?.number}} :</span><span class="pl-3">{{ week.dateStart | date: 'dd.MMMM'}} - {{ week.dateEnd | date: 'dd.MMMM'}}</span>
              <!--app-readonly-datepicker [week]="week" class="pt-6 -ml-2" ></app-readonly-datepicker-->
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <app-swiper [year]="impression.year" [week]="week.number" [autoplay]="undefined"></app-swiper>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
    </ng-template
  ></mat-tab>
</mat-tab-group>


