<mat-tab-group *ngIf="card && card.impressions" mat-align-tabs="start">
  <mat-tab
    *ngFor="let impression of card.impressions"
    [label]="impression.year.toString()"
  >
    <ng-template matTabContent>
      <mat-chip-list class="categories">
        <mat-chip><a href="https://google.com">chippp</a></mat-chip>
      </mat-chip-list>
      <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel *ngFor="let week of impression.weeks" class="mb-4" >
            <mat-expansion-panel-header>
              <span class="text-rouge-rubia text-neutral-400">Woche {{week?.number}} :</span><span class="pl-3">{{ week.dateStart | date: 'dd.MMMM'}} - {{ week.dateEnd | date: 'dd.MMMM'}}</span>
              <!--app-readonly-datepicker [week]="week" class="pt-6 -ml-2" ></app-readonly-datepicker-->
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <app-swiper [year]="impression.year" [week]="week.number"></app-swiper>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
    </ng-template
  ></mat-tab>
</mat-tab-group>


